<ion-header [translucent]="true">
  <ion-toolbar class="back-btn-toolbar" color="none">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo" defaultHref="/landing/navs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start" size="large">{{'Animals' | translate}}</ion-title>
    <ion-chip fill="clear" color="none">
      <label>{{'Total Animals' | translate}}</label>
      <ion-badge style="margin-left: 1rem;" color="warning">{{results.length}}</ion-badge>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content-1" [scrollEvents]="true">

  <div class="container"
    style="display: flex; align-items: center; justify-content: flex-start; gap: 1rem; padding-bottom: 1rem; border-bottom: 2px solid gainsboro;">

    <ion-select interface="popover" label="{{'Select Farm' | translate}}" label-placement="stacked"
      selectedText="{{selectedFarm}}" (ionChange)="onSelectFarm($event)">
      <ion-select-option class="select-all" value="All Animals"><b>{{'All Animals' | translate}}</b></ion-select-option>
      <ion-select-option [value]="farm" *ngFor="let farm of farms;">
        {{farm.name}}</ion-select-option>
    </ion-select>

    <ion-searchbar search-icon="search-circle" mode="md" placeholder="{{'Search Animals' | translate}}" animated="true"
      [debounce]="1000" (ionInput)="handleInput($event)">
    </ion-searchbar>

  </div>

  <div *ngIf="isLoading"
    style="display: flex; align-items: center; justify-content: center; width: 100% !important; height: 50% !important;">
    <ion-spinner style="color:  silver !important; transform: scale(0.7); " name="circular"></ion-spinner>
    <ion-label>{{'Please Wait'| translate}}</ion-label>
  </div>

  <div *ngIf="!isLoading" class="custom-div-1 container-fluid">
    <div class="custom-div-1-5">

      <table id="myTable" class="table table-striped table-light table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" (click)="sortTable(0)"
              [ngClass]="{'sort-asc': sortOrders[0] === 'asc', 'sort-desc': sortOrders[0] === 'desc'}">{{'Animal Name' |
              translate}}</th>
            <th scope="col" (click)="sortTable(1)"
              [ngClass]="{'sort-asc': sortOrders[1] === 'asc', 'sort-desc': sortOrders[1] === 'desc'}">{{'Collar No.'|
              translate}}</th>
            <th scope="col" (click)="sortTable(2)"
              [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">{{'Farm Name'|
              translate}}</th>
            <th scope="col" (click)="sortTable(3)"
              [ngClass]="{'sort-asc': sortOrders[3] === 'asc', 'sort-desc': sortOrders[3] === 'desc'}">{{'Reproductive
              Status'| translate}}</th>
            <th scope="col" (click)="sortTable(4)"
              [ngClass]="{'sort-asc': sortOrders[4] === 'asc', 'sort-desc': sortOrders[4] === 'desc'}">{{'Last Heat'|
              translate}}</th>
            <th scope="col" (click)="sortTable(5)"
              [ngClass]="{'sort-asc': sortOrders[5] === 'asc', 'sort-desc': sortOrders[5] === 'desc'}">{{'Last
              Insemination'| translate}}
            </th>
            <th scope="col" (click)="sortTable(6)"
              [ngClass]="{'sort-asc': sortOrders[6] === 'asc', 'sort-desc': sortOrders[6] === 'desc'}">{{'Last Calving'|
              translate}}</th>
            <th scope="col" (click)="sortTable(7)"
              [ngClass]="{'sort-asc': sortOrders[7] === 'asc', 'sort-desc': sortOrders[7] === 'desc'}">{{'Heat Status'|
              translate}}</th>
            <th scope="col" (click)="sortTable(8)"
              [ngClass]="{'sort-asc': sortOrders[8] === 'asc', 'sort-desc': sortOrders[8] === 'desc'}">{{'Health
              Status'| translate}}
            </th>
            <th scope="col" (click)="sortTable(9)"
              [ngClass]="{'sort-asc': sortOrders[9] === 'asc', 'sort-desc': sortOrders[9] === 'desc'}">{{'Lactation
              Status'| translate}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let animal of results">
            <td> <a href="#" [routerLink]="['/', 'landing', 'navs', 'home', 'animal-details', animal.collar?.name]"
                routerLinkActive="router-link-active">{{animal.name}}</a> </td>
            <td> <a> {{animal.collar?.name}} </a></td>
            <td>{{animal.farm?.name}}</td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td></td>
            <td style="vertical-align: middle !important;">
              <span [ngClass]="{'heat-label': getAnimalHeatStrength(animal.id).heatStrength}">
                <p class="ion-text-uppercase ion-text-center">
                  {{getAnimalHeatStrength(animal.id) ? getAnimalHeatStrength(animal.id).heatStrength : " "}}
                  <ion-icon *ngIf="getAnimalHeatStrength(animal.id).heatStrength" name="flame"></ion-icon>
                </p>
                <p class="ion-text-uppercase ion-text-center">
                  {{getAnimalHeatStrength(animal.id) ? timeStampTODate(getAnimalHeatStrength(animal.id).startedAt)+" -
                  "+timeStampTODate(getAnimalHeatStrength(animal.id).endedAt) : ""}}
                </p>
              </span>
            </td>
            <td style="vertical-align: middle !important;">
              <span [ngClass]="{'health-label': getAnimalHealthIndex(animal.id).healthIndex}">
                <p class="ion-text-uppercase ion-text-center">
                  {{getAnimalHealthIndex(animal.id) ? getAnimalHealthIndex(animal.id).healthIndex : ""}}
                  <ion-icon *ngIf="getAnimalHealthIndex(animal.id).healthIndex" name="medkit"></ion-icon>
                </p>
                <p class="ion-text-uppercase ion-text-center">
                  {{getAnimalHealthIndex(animal.id) ? timeStampTODate(getAnimalHealthIndex(animal.id).startedAt)+" -
                  "+timeStampTODate(getAnimalHealthIndex(animal.id).endedAt) : ""}}
                </p>
              </span>
            </td>
            <td></td>
          </tr>

        </tbody>

        <div class="noContent" *ngIf="results.length == 0">
          {{'No Cattle Available' | translate}}
        </div>

      </table>


    </div>

  </div>

</ion-content>