<ion-header mode="md" [translucent]="true">
  <ion-toolbar class="back-btn-toolbar" color="none">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo" defaultHref="/landing/navs/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  
  <ion-item>

  <ion-segment color="success" value="segment1" style="justify-content: flex-start;">
    <ion-segment-button value="segment1" (click)="switchSegmentTo('segment1')">
      <ion-label>
        Farms 
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2" (click)="switchSegmentTo('segment2')">
      <ion-label>
        ...
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment3" (click)="switchSegmentTo('segment3')">
      <ion-label>
        ...
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-item>


  <ion-grid *ngIf="currentSegment === 'segment1'">
    <ion-row>
      <ion-col>
        
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Farm 1</h2>
              <p>Address: Some Address</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Farm 2</h2>
              <p>Address: Some Address</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="currentSegment === 'segment2'">
    <ion-row>
      <ion-col>
        segment2
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="currentSegment === 'segment3'">
    <ion-row>
      <ion-col>
        segment3
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>