.custom-content-1 {
    --background: rgb(15, 68, 84) !important;
    width: 100%;
    height: 100%;

    .custom-fab {
        .custom-fab-button {
            --background: white !important;
            .custom-icon {
                color: rgb(50, 50, 50) !important;
            }
        }
    }

    .custom-grid-1 {
        width: 100%;
        height: 100%;

        .custom-row-1 {
            width: 100%;
            height: 100%;

            .custom-col-1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                .div-1 {
                    width: 100%;
                    height: 100%;

                    .div-1-2 {
                        width: 100%;
                        padding: 10px 5px !important;

                        .div-1-2-1 {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background: white;
                            margin: 10px 0px !important;
                            padding: 10px 0px !important;
                            border-radius: 2px;

                            .div-1-2-1-1 {
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                width: 100%;
                                padding: 5px;
                                border-radius: 5px;

                                .div-1-2-1-1-1 {
                                    width: 100%;

                                    ion-label {
                                        word-spacing: 5px;
                                        font-size: small;
                                        color: black;
                                    }

                                    ion-radio-group {

                                        .div-1-2-1-1-1-1 {
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-start;
                                            width: 100%;
                                            padding: 5px 0;

                                            span {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                margin: 0 5px !important;

                                                ion-label {
                                                    padding: 0 5px;
                                                    color: rgba(50, 50, 50);
                                                }

                                                .yes-btn {
                                                    color: #208040;
                                                    --color-checked: #208040;
                                                }

                                                .no-btn {
                                                    color: #802040;
                                                    --color-checked: #802040;
                                                }

                                                .yet-to-do-btn {
                                                    color: rgba(0, 0, 0, 0.50);
                                                    --color-checked: rgba(0, 0, 0, 0.50);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .div-1-2-1-2 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 60px;

                                span {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: flex-end;
                                    width: 33.33%;
                                    height: 100%;

                                    .label-1 {
                                        height: 30px;
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: center;
                                        text-align: center;
                                        font-size: small;
                                        color: rgb(50, 50, 50);
                                    }

                                    .label-2 {
                                        height: 30px;
                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: center;
                                        font-size: small;
                                        text-align: center;
                                        color: #255075;
                                    }
                                }

                                .span-2,
                                .span-3,
                                .span-4 {
                                    border-left: 1px solid rgb(50, 50, 50);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}