ion-toolbar {
  ion-label {
    text-transform: capitalize !important;
    font-size: small !important;
    font-weight: bold !important;
  }
}

.custom-content {
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    justify-content: stretch;
    align-content: flex-start;
    justify-items: stretch;
    height: calc(100vh - 200px);
    padding: 1rem !important;

    table {
      border-left: 2px dashed #ddd;
      padding: 0 1rem !important;

      caption {
        font-weight: bold;
        font-size: small !important;
        padding: 0.5rem !important;
        color: #252525 !important;
        background: yellow !important;
      }

      width: 100% !important;
      justify-self: flex-start;
      table-layout: auto;
      position: relative;
      top: 0%;
      bottom: 0%;
      display: block;
      max-height: 100% !important;
      overflow: auto !important;
      border-collapse: separate;
      border-spacing: 0;

      thead {
        position: sticky;
        left: auto;
        top: 0;
        z-index: 1;
        background: navy !important;

        tr {
          background: navy !important;

          th {
            background: navy !important;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0.5rem !important;
            color: white !important;
            font-weight: bold !important;
          }

          th:hover {
            cursor: pointer;
          }
        }


      }

      tbody {
        overflow: scroll;

        tr {
          td {
            white-space: nowrap;
            padding: 1rem !important;
            font-weight: bold !important;
            color: #404040 !important;
            text-transform: capitalize !important;
            vertical-align: top !important;
            text-align: justify;
            text-justify: distribute;

            a {
              cursor: pointer;
              color: var(--ion-color-primary) !important;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            a:hover {
              color: var(--ion-color-primary-shade) !important;
              text-decoration: 1px solid var(--ion-color-primary) underline !important;
              text-underline-offset: 5px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }


            .heat-label {
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: center;
              text-align: center;
              background: #252525;
              color: var(--ion-color-success);
              padding: 0.5rem !important;
              border-radius: 2px;

              p {
                white-space: nowrap;
                margin: 0 !important;
                padding: 0 !important;
                font-weight: bolder !important;
              }

              ion-icon {
                transform: scale(1.2);
                color: orange !important;
                padding: 0 !important;
              }

            }

            .health-label {
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: center;
              text-align: center;
              background: #252525;
              color: var(--ion-color-secondary) !important;
              padding: 0.5rem !important;
              border-radius: 2px;

              p {
                white-space: nowrap;
                margin: 0 !important;
                padding: 0 !important;
                font-weight: bolder !important;
              }

              ion-icon {
                transform: scale(1.2);
                color: red !important;
                padding: 0 !important;
              }

            }


          }
        }
      }
    }
  }
}

.filter-section {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 1rem;

  span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    ion-icon {
      color: var(--ion-color-medium);
    }

    ion-datetime-button {
      white-space: nowrap;
    }
  }
}


ion-breadcrumbs {
  ion-breadcrumb {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}

ion-grid {
  margin: 0 !important;
  padding: 0 !important;

  ion-row {
    margin: 0 !important;
    padding: 0 !important;

    ion-col {
      margin: 0 !important;
      padding: 0 !important;

    }
  }
}

@media (max-width: 767px) {
  .button-label {
    display: none;
  }
}

@media (min-width: 768px) {
  .button-label {
    display: inline;
  }
}

*{
  font-size: small !important;
  font-weight: bold;
  font-stretch: normal;
}

ion-icon{
  margin-left: 8px !important;
}