<app-navigation [@slideUp]="isVisible ? 'in' : 'out'"></app-navigation>

<ion-content id="main" [scrollEvents]="true" (ionScrollStart)="handleScrollStart()" (ionScrollEnd)="handleScrollEnd()"
  (ionScroll)="handleScroll($any($event))">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer [@slideDown]="isVisible ? 'in' : 'out'">
  <div class="mask container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-end p-2">
      <img src="../../assets/images/fd.png" alt="fd-icon">
      <p style="padding: 0 !important; margin: 0 !important;">&copy; Flixdrop Techology Pvt. Ltd. - 2024 . All Rights Reserved. <span style="color: gold !important;"> Developed by flixdrop&#64;2023 </span> </p>
    </div>
  </div>
</ion-footer>