ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        height: 24px;
        width: 24px;
        aspect-ratio: 1/1;
        border: 2px solid #eee;
        border-radius: 2px;
    }

    p {
        padding: 0 !important;
        margin: 0 !important;
        font-weight: bold;
        font-size: x-small !important;
        color: var(--ion-color-medium) !important;
    }
}