ion-content {
  .div-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    align-items: stretch;
    justify-items: stretch;

    .div-1-1 {
      cursor: pointer;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      aspect-ratio: 3/1;
      align-items: center;
      justify-content: flex-start;      
      border-radius: 2px;
      background: whitesmoke;
      border-left: 2px dashed #ddd;

      .div-1-1-1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .div-1-1-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      img {
        width: 50%;
        aspect-ratio: 1/1;
        pointer-events: none;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
      }

      .value {
        // font-size: 2rem !important;
        color: red !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        margin: 0 !important;
        font-weight: bold;
      }

      .label {
        color: red !important;
        margin: 0 !important;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;    
        text-overflow: ellipsis;
      }

    }

    .div-1-1:hover {
      background: white;
      border: 2px solid red;
      outline: 2px solid red;
      transform: scale(1.02);
    }

    .div-1-1:active {
      transform: scale(0.98);
      transition: 1s ease;
    }

  }

  .div-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
    justify-items: stretch;

    .div-2-1 {
      width: 100% !important;
      aspect-ratio: 1/1;
      justify-self: flex-start;
      align-self: flex-start;
      width: 100%;
      padding: 1rem !important;
      border: 1px dashed #ddd; 
      border-radius: 4px;
      background: white;
    }

    .div-2-2 {
      width: 100%;
      height: 100%;
      width: 100% !important;
      aspect-ratio: 1/1;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: center;
      padding: 1rem !important;
    }
  }

  @keyframes countUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .counter {
    animation: countUp 0.5s ease-in-out;
  }

  canvas {
    width: 100% !important;
  }
}



// @media screen and (max-width: 768px) {
//   ion-content {

//     .div-1 {
//       grid-template-columns: repeat(3, 1fr);
//     }

//     .div-2 {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

// @media screen and (max-width: 480px) {
//   ion-content {

//     .div-1 {
//       grid-template-columns: 100%;
//     }

//     .div-2 {
//       grid-template-columns: 100%;
//     }

//   }
// }


// .user-message {
//   text-align: right;
//   color: yellowgreen;
// }

// .ai-message {
//   text-align: left;
//   color: dodgerblue;
// }

.user-message {
  background: #ddd !important; 
  border-radius: 4px;
  padding: 1rem !important;
  text-align: right;
  label{
    color: yellowgreen !important;
  }
}

.ai-message {
  background: #ddd !important; 
  border-radius: 4px;
  padding: 1rem !important;
  text-align: left;
  label{
    color: dodgerblue !important;
  }
}

.chatbox {
  background: white !important; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  padding: 1rem !important;
}

@media (max-width: 1400px) { 
  ion-content{
    .div-1 {
      grid-template-columns: repeat(3, 1fr);
    }
    .div-2 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 700px) {
  ion-content{
    .div-1 {
      grid-template-columns: 1fr;
    }
    .div-2 {
      grid-template-columns: 1fr;
    }
  }
}