ion-content {
  background-color: linear-gradient(to right, #30303020 0%, white 100%);
  background:linear-gradient(to right, #30303020 0%, white 100%);
  --background: linear-gradient(to right, #30303020 0%, white 100%);
  

  .home-bg{
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
  }

  .div-1 {
    // padding: 1rem !important;
    background: white;
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted minmax for responsiveness */

    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
    justify-items: stretch;

    .div-1-1 {
      cursor: pointer;
      width: 100%;
      display: grid;
      grid-template-columns: 30% 1fr;
      padding: 10px;
      align-items: center;
      justify-content: flex-start;
      // aspect-ratio: 1/2;
      border-radius: 4px;
      background-image: radial-gradient(circle 986.6px at 10% 20%, rgba(251, 6, 6, 0.94) 0%, rgba(3, 31, 213, 1) 82.8%, rgba(248, 101, 248, 1) 87.9%);
    
      .div-1-1-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
      }

      img {
        opacity: 70%;
        width: 100%;
        aspect-ratio: 1/1;
        pointer-events: none;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
      }

      .value {
        color: #ddd !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        margin: 0 !important;
        font-weight: bold;
      }

      .label {
        color: #ddd !important;
        margin: 0 !important;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .div-1-1:hover {
      background-image: radial-gradient(circle 986.6px at 10% 20%, rgba(251, 6, 6, 0.94) 0%, rgba(3, 31, 213, 1) 82.8%, rgba(248, 101, 248, 1) 87.9%);
      transform: scale(1.01);
      transition: 0.2s ease-in-out;
      opacity: 100%;
    }

    .div-1-1:active {
      transform: scale(0.99);
      transition: 1s ease;
    }

  }

  .div-2 {
    display: grid;
    // grid-template-columns: repeat(2, 25%);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 4px;
    align-items: stretch;
    justify-items: stretch;

    background: #1e90ff50;
    border-radius: 4px;

    .div-2-1 {
      width: 100% !important;
      aspect-ratio: 1/1;
      justify-self: flex-start;
      align-self: flex-start;
      width: 100%;
      padding: 1rem !important;
      
      // border-left: 2px dashed #ddd;
      background: white;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }

    .div-2-2 {
      width: 100%;
      height: 100%;
      width: 100% !important;
      aspect-ratio: 1/1;
      justify-self: center;
      align-self: center;
      display: flex;
      align-items: center;
      padding: 1rem !important;
      background: white;

    }
  }

  @keyframes countUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .counter {
    animation: countUp 0.5s ease-in-out;
  }

  canvas {
    width: 100% !important;
  }
}



// @media screen and (max-width: 768px) {
//   ion-content {

//     .div-1 {
//       grid-template-columns: repeat(3, 1fr);
//     }

//     .div-2 {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

// @media screen and (max-width: 480px) {
//   ion-content {

//     .div-1 {
//       grid-template-columns: 100%;
//     }

//     .div-2 {
//       grid-template-columns: 100%;
//     }

//   }
// }


// .user-message {
//   text-align: right;
//   color: yellowgreen;
// }

// .ai-message {
//   text-align: left;
//   color: dodgerblue;
// }

.user-message {
  background: #ddd !important;
  border-radius: 4px;
  padding: 1rem !important;
  text-align: right;

  label {
    color: yellowgreen !important;
  }
}

.ai-message {
  background: #ddd !important;
  border-radius: 4px;
  padding: 1rem !important;
  text-align: left;

  label {
    color: dodgerblue !important;
  }
}

.chatbox {
  background: white !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  padding: 1rem !important;
}

@media (max-width: 1200px) {
  ion-content {

    .home-bg{
      grid-template-columns: 1fr;
    }

    .div-1 {
      grid-template-columns: repeat(3, 1fr);
    }

    .div-2 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 500px) {
  ion-content {

    .home-bg{
      grid-template-columns: 1fr;
    }

    .div-1 {
      grid-template-columns: 1fr;
    }

    .div-2 {
      grid-template-columns: 1fr;
    }
  }
}