<ion-header [translucent]="true">
  <ion-toolbar class="back-btn-toolbar" color="none">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo" defaultHref="/landing/navs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">{{'Collar Installations'| translate}}</ion-title>
    <ion-chip fill="clear" color="none">
      <label>{{'Total Collar Installations'| translate}}</label>
      <ion-badge style="margin-left: 1rem;" color="warning">{{results.length}}</ion-badge>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content-1" [scrollEvents]="true">

  <div class="container"
    style="display: flex; align-items: center; justify-content: flex-start; gap: 1rem; padding-bottom: 1rem; border-bottom: 2px solid gainsboro;">

    <ion-select interface="popover" label="{{'Select Farm'| translate}}" label-placement="stacked" selectedText="{{selectedFarm}}"
      (ionChange)="onSelectFarm($event)">
      <ion-select-option class="select-all" value="All Animals"><b>{{'All Animals'| translate}}</b></ion-select-option>
      <ion-select-option [value]="farm" *ngFor="let farm of farms;">
        {{farm.name}}</ion-select-option>
    </ion-select>

    <ion-searchbar search-icon="search-circle" mode="md" placeholder="{{'Search Animals'| translate}}" animated="true"
      [debounce]="1000" (ionInput)="handleInput($event)">
    </ion-searchbar>

  </div>

  <div *ngIf="isLoading"
    style="display: flex; align-items: center; justify-content: center; width: 100% !important; height: 50% !important;">
    <ion-spinner style="color:  silver !important; transform: scale(0.7); " name="circular"></ion-spinner>
    <ion-label>{{'Please Wait'| translate}}</ion-label>
  </div>

  <div class="custom-div-1 container-fluid" *ngIf="!isLoading">

    <div class="custom-div-1-5">
      <table id="myTable" class="table table-striped table-light table-hover table-sm">
        <thead>
          <tr>
            <th rowspan="2" scope="col" (click)="sortTable(2)"
              [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">{{'Animal Name'| translate}}</th>
            <th rowspan="2" scope="col" (click)="sortTable(0)"
              [ngClass]="{'sort-asc': sortOrders[0] === 'asc', 'sort-desc': sortOrders[0] === 'desc'}">{{'Collar No.'| translate}}</th>
            <th rowspan="2" scope="col" (click)="sortTable(1)"
              [ngClass]="{'sort-asc': sortOrders[1] === 'asc', 'sort-desc': sortOrders[1] === 'desc'}">{{'Assigned / Not Assigned'| translate}}</th>
          </tr>
        </thead>
        <tbody *ngIf="results.length > 0">
          <tr *ngFor="let installation of results; let i=index">
            <td>{{installation.animal ? installation.animal.name : 'Collar Not in Use'}}</td>
            <td>{{installation.collarId}}</td>
            <td>{{installation.animal ? 'Collar Assigned:'+installation.name : 'Not Assigned' }}</td>
          </tr>
        </tbody>

        <div class="noContent" *ngIf="results.length == 0">
          {{'No installation Available'| translate}}</div>
      </table>
    </div>

  </div>

</ion-content>