.outerdiv {
    background-image: url('../../assets/images/flixdrop_admin_bg.jpeg');
    min-width: 100% !important;
    min-height: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;

    .logo {
        cursor: pointer;
        margin: 8px;
        border: 2px solid #ddd;
        border-radius: 4px;
        width: 50px;
        aspect-ratio: 1/1;
        pointer-events: none;
        background: #fff;
    }

    .logo:hover {
        cursor: pointer;
        opacity: 100%;
        transform: scale(1.1);
        transition: 1s ease;
    }

    .form-header-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .customform {
        background: white;
        border-radius: 4px;
        padding: 1rem !important;

        ion-item {
            ion-icon {
                margin-right: 8px;
            }
        }
    }
}

ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232526;

    .logo {
        height: 24px;
        width: 24px;
        aspect-ratio: 1/1;
        border: 2px solid #eee;
        border-radius: 2px;
    }

    p {
        padding: 0 !important;
        margin: 0 !important;
        font-weight: bold;
        font-size: x-small !important;
        color: var(--ion-color-light) !important;
    }
}