.outerdiv {
    background-image: url('../../assets/images/flixdrop_admin_bg.jpeg');
    min-width: 100% !important;
    min-height: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;

    .flixdroplogo {
        margin: 10px;
        border-radius: 4px;
        height: 7vmin;
        aspect-ratio: 1/1;
        pointer-events: none;
        opacity: 80%;
        background: #fff;
        border: 2px solid #ddd;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
    }

    .flixdroplogo:hover {
        cursor: pointer;
        opacity: 100%;
        transform: scale(1.1);
        transition: 1s ease;
    }

    .form-logo-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .customform {
        background: white;
        border-radius: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(7px);
        padding: 1rem !important;
        margin: 1rem !important;

        ion-item {
            ion-icon {
                font-size: 32px;
                margin-right: 10px;
            }
        }
    }


}


ion-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    }
    p{
        font-weight: bold;
        font-size: small !important;
        color: white !important;
    }
}