<ion-header mode="md" [translucent]="true">
  <ion-toolbar class="back-btn-toolbar" color="none">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo" defaultHref="/landing/navs/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-center ion-margin-horizontal">Animal Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content-1" [scrollEvents]="true">

  <ion-fab horizontal="end" vertical="top" [edge]="true" activated="true">
    <ion-fab-list side="start">
      <div style="display: flex; align-items: center; justify-content: flex-end; --background: white;">
        <ion-icon style="cursor: pointer; position: relative; left: -1rem;" class="search-btn"
          color="{{searchToggle === false ? 'primary' : 'danger'}}" size="{{searchToggle === false ? 'large':'small'}}"
          name="{{ searchToggle === false ? 'search-circle' : 'chevron-forward'}}" (click)="toggleSearch()"></ion-icon>
        <ion-searchbar *ngIf="searchToggle === true" search-icon="search-circle" mode="md"
          placeholder="Search for Cattles" animated="true" [debounce]="1000" (ionInput)="handleInput($event)">
        </ion-searchbar>
      </div>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="start" vertical="top" [edge]="false" activated="true">
    <ion-fab-list side="end">
        <ion-select
          interface="popover" label="Select Farm" label-placement="stacked" selectedText="{{farm}}"
          (ionChange)="onSelectFarm($event)">
          <ion-select-option class="select-all" value="All Animals"><b>All Animals</b></ion-select-option>
          <ion-select-option [value]="farm" *ngFor="let farm of farms;">
            {{farm['name']}}</ion-select-option>
        </ion-select>
        <div style="align-self: flex-end; display: flex; align-items: flex-end; justify-content: center; margin-left: 1rem; padding: 1rem; border-bottom: 2px solid gainsboro;">
          <label>Total_Animals</label>
          <ion-badge style="margin-left: 1rem;" color="warning">{{results.length}}</ion-badge>
        </div>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="isLoading"
    style="display: flex; align-items: center; justify-content: center; width: 100% !important; height: 50% !important;">
    <ion-spinner style="color:  silver !important; transform: scale(0.7); " name="circular"></ion-spinner>
  </div>

  <div *ngIf="!isLoading" class="custom-div-1">
    <div class="custom-div-1-5">

      <table id="myTable" class="table table-striped table-dark">
        <thead class="table-bordered">
          <tr>
            <th scope="col" (click)="sortTable(0)" [ngClass]="{'sort-asc': sortOrders[0] === 'asc', 'sort-desc': sortOrders[0] === 'desc'}">Cattle Breed</th>
            <th scope="col" (click)="sortTable(1)" [ngClass]="{'sort-asc': sortOrders[1] === 'asc', 'sort-desc': sortOrders[1] === 'desc'}">Cattle No.</th>
            <th scope="col" (click)="sortTable(2)" [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">Date of Birth</th>
            <th scope="col" (click)="sortTable(3)" [ngClass]="{'sort-asc': sortOrders[3] === 'asc', 'sort-desc': sortOrders[3] === 'desc'}">Lactation No.</th>
            <th scope="col" (click)="sortTable(4)" [ngClass]="{'sort-asc': sortOrders[4] === 'asc', 'sort-desc': sortOrders[4] === 'desc'}">Current Insemination Status</th>
            <th scope="col" (click)="sortTable(5)" [ngClass]="{'sort-asc': sortOrders[5] === 'asc', 'sort-desc': sortOrders[5] === 'desc'}">Current Health Status</th>
            <th scope="col" (click)="sortTable(6)" [ngClass]="{'sort-asc': sortOrders[6] === 'asc', 'sort-desc': sortOrders[6] === 'desc'}">Current Productivity Status</th>
            <th scope="col" (click)="sortTable(7)" [ngClass]="{'sort-asc': sortOrders[7] === 'asc', 'sort-desc': sortOrders[7] === 'desc'}">Last Heat Detected</th>
            <th scope="col" (click)="sortTable(8)" [ngClass]="{'sort-asc': sortOrders[8] === 'asc', 'sort-desc': sortOrders[8] === 'desc'}">Last illness Detected</th>
            <th scope="col" (click)="sortTable(9)" [ngClass]="{'sort-asc': sortOrders[9] === 'asc', 'sort-desc': sortOrders[9] === 'desc'}">Average Milk in Last 6 Months</th>
          </tr>

        </thead>

        <tbody *ngIf="results.length > 0">
            <tr *ngFor="let animal of results; let i=index">
              <td>{{animal.breed}}</td>
              <td>{{animal.name}}</td>
              <td></td>
              <td>{{animal.farm.name}}</td>
              <td>{{getAnimalHeatStrength(animal.id) ? timeStampTODate(getAnimalHeatStrength(animal.id).startedAt)+" - "+timeStampTODate(getAnimalHeatStrength(animal.id).endedAt) : "Not in Heat"}}</td>
              <td>{{getAnimalHealthIndex(animal.id) ? getAnimalHealthIndex(animal.id).value : "100"}}</td>
              <td></td>
              <td>{{getAnimalHeatStrength(animal.id) ? timeStampTODate(getAnimalHeatStrength(animal.id).startedAt)+" - "+timeStampTODate(getAnimalHeatStrength(animal.id).endedAt) : "Not in Heat"}}</td>
              <td>{{getAnimalHealthIndex(animal.id) ? getAnimalHealthIndex(animal.id).value : "100"}}</td>
              <td></td>
            </tr>

        </tbody>

        <div class="noContent" *ngIf="results.length == 0">
          No Cattles Available</div>

      </table>


    </div>

  </div>

</ion-content>