<!-- <ion-header>
  <ion-toolbar>
    <ion-title color="danger">Error 404: Page Not Found</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-buttons>
      <ion-button color="dark" fill="solid" [routerLink]="['/']">Go Back</ion-button>
    </ion-buttons>
  </ion-item>
</ion-header> -->


<ion-header>
  <ion-toolbar>
    <ion-title color="danger">Uh Oh! Lost in Cyberspace (Error 404)</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-buttons>
      <ion-button color="dark" fill="solid" [routerLink]="['/']">Take Me Home</ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <div class="p-2">
      <p>Looks like this page took a wrong turn! Don't worry, it happens to the best of us.</p>
      <p>Just a friendly reminder that typing directly into the URL bar requires a bit of precision. Sometimes a small mistake can lead to a dead end.</p>
    <p>Let's get you back on track:</p>
    <ul>
      <li>Have a quick peek at the URL to make sure everything is spelled correctly.</li>
      <li>Our site map or main navigation might be the best way to find what you need.</li>
      <li>The "Take Me Home" button above will whisk you back to safety.</li>
    </ul>
    <p>If you're still having trouble, feel free to <a href="http://flixdrop.com/contact-us/">reach out to our support team</a>.</p>
  </div>
  </ion-card>
</ion-content>