:root {
	--ion-color-primary: #7367F0;
	--ion-color-primary-rgb: 115,103,240;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #655bd3;
	--ion-color-primary-tint: #8176f2;

	--ion-color-secondary: #43CBFF;
	--ion-color-secondary-rgb: 67,203,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #3bb3e0;
	--ion-color-secondary-tint: #56d0ff;

	--ion-color-tertiary: #623AA2;
	--ion-color-tertiary-rgb: 98,58,162;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #56338f;
	--ion-color-tertiary-tint: #724eab;

	--ion-color-success: #69FF97;
	--ion-color-success-rgb: 105,255,151;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #5ce085;
	--ion-color-success-tint: #78ffa1;

	--ion-color-warning: #FDEB71;
	--ion-color-warning-rgb: 253,235,113;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dfcf63;
	--ion-color-warning-tint: #fded7f;

	--ion-color-danger: #FA016D;
	--ion-color-danger-rgb: 250,1,109;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #dc0160;
	--ion-color-danger-tint: #fb1a7c;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #606c88;
	--ion-color-medium-rgb: 96,108,136;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545f78;
	--ion-color-medium-tint: #707b94;

	--ion-color-dark: #0F2027;
	--ion-color-dark-rgb: 15,32,39;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #0d1c22;
	--ion-color-dark-tint: #27363d;

}


ion-header {
	background-color: white;
	background: white;
	--background: white;
	--color: var(--ion-color-medium);
	box-shadow: none !important;
}

ion-toolbar {
	background-color: white;
	background: white;
	--background: white;
	--color: var(--ion-color-medium);
	box-shadow: none !important;
	--border-width: 0 !important;
	--ion-toolbar-background: white;
}

ion-item {
	background-color: white;
	background: white;
	--background: white;
	box-shadow: none !important;
}

ion-footer {
	background-color: white;
	background: white;
	--background: white;
	box-shadow: none !important;
}

ion-content {
	background-color: white;
	background: white;
	--background: white;
	box-shadow: none !important;
}

ion-radio {
	--border-radius: 4px;
	--inner-border-radius: 4px;
	--color: var(--ion-color-medium);
	--color-checked: var(--ion-color-primary);
}

ion-accordion-group {
	ion-accordion {
		background-color: transparent !important;

		ion-item {
			background-color: transparent !important;
		}
	}
}

ion-toast{
	color: var(--ion-color-medium) !important;
	font-weight: bold !important;
	--border-width: none !important;
	--box-shadow: none !important;
	// --box-shadow: rgba(50, 50, 93, 0.10) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset !important;
	--box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px !important;
	// margin: 1rem !important;
	// padding: 1rem !important;
}