<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button icon="arrow-undo-circle-sharp" defaultHref="/farm/dashboard" text=""></ion-back-button>
      <ion-chip style="border-radius: 4px;">
        <ion-label>
          {{'Inseminations' | translate}}
        </ion-label>
        <ion-badge color="dark" style="margin-left: 8px;">
          <ion-label>
            {{results.length}}
          </ion-label>
        </ion-badge>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" [scrollEvents]="true">
  
  <div style="width: 100%; display: flex; align-items: center;
  justify-content: center;" *ngIf="isLoading">
    <ion-spinner name="circular" color="primary"></ion-spinner>
  </div>

  <div *ngIf="!isLoading" class="table-container">
      <table id="myTable" class="table">
        <ion-grid>
          <ion-row>
            <ion-col sizeLg="4">
      
              <ion-toolbar>
                <ion-searchbar class="ion-margin" searchIcon="search-circle" clearIcon="backspace"
                cancel-button-icon="arrow-back-circle" showCancelButton="focus" placeholder="{{'Search Animals' | translate}}" [debounce]="1000"
                  (ionInput)="handleInput($event)">
                </ion-searchbar>
              </ion-toolbar>
            </ion-col>
    
            <ion-col>
              <div class="filter-section">
                <span>
                  <ion-icon name="calendar"></ion-icon>
                  <ion-label>From</ion-label>
                  <ion-datetime-button datetime="datetime-1"></ion-datetime-button>
                </span>
                <span>
                  <ion-icon name="calendar"></ion-icon>
                  <ion-label>Till</ion-label>
                  <ion-datetime-button datetime="datetime-2"></ion-datetime-button>
                </span>
              </div>
  
              <ion-popover [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime-1" presentation="date" [(ngModel)]="fromDate" [showDefaultButtons]="true"
                    displayFormat="YYYY-MM-DD" [max]="maxDate" (ionChange)="filterEvents()"></ion-datetime>
                </ng-template>
              </ion-popover>
              <ion-popover [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime-2" presentation="date" [(ngModel)]="toDate" [showDefaultButtons]="true"
                    displayFormat="YYYY-MM-DD" [min]="fromDate" [max]="maxDate"
                    (ionChange)="filterEvents()"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <caption *ngIf="results.length > 0">List of Inseminations</caption>
        <caption *ngIf="results.length == 0">
          {{'No Insemination Available'| translate}}</caption>

        <thead>
          <tr>
            <th rowspan="2" scope="col" (click)="sortTable(0)"
              [ngClass]="{'sort-asc': sortOrders[0] === 'asc', 'sort-desc': sortOrders[0] === 'desc'}">{{'Animal Name' | translate}}</th>
            <th rowspan="2" scope="col" (click)="sortTable(1)"
              [ngClass]="{'sort-asc': sortOrders[1] === 'asc', 'sort-desc': sortOrders[1] === 'desc'}">{{"Collar No." | translate}}</th>
            <th rowspan="2" scope="col" (click)="sortTable(2)"
              [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">{{'Insemination Date' | translate}}
            </th>
            <th rowspan="2" scope="col" (click)="sortTable(3)"
              [ngClass]="{'sort-asc': sortOrders[3] === 'asc', 'sort-desc': sortOrders[3] === 'desc'}">
              {{'Process of Insemination' | translate}}</th>
            <th rowspan="2" scope="col" (click)="sortTable(4)"
              [ngClass]="{'sort-asc': sortOrders[4] === 'asc', 'sort-desc': sortOrders[4] === 'desc'}">{{'Origin of Semen' | translate}}
            </th>
            <th rowspan="2" scope="col" (click)="sortTable(5)"
              [ngClass]="{'sort-asc': sortOrders[5] === 'asc', 'sort-desc': sortOrders[5] === 'desc'}">{{'Insemination Type' | translate}}
            </th>
            <th rowspan="2" scope="col" (click)="sortTable(6)"
            [ngClass]="{'sort-asc': sortOrders[6] === 'asc', 'sort-desc': sortOrders[6] === 'desc'}">{{'Inseminator' | translate}}
          </th>
          </tr>
        </thead>
        <tbody *ngIf="results.length > 0">
          <tr *ngFor="let insemination of results">
            <td>{{insemination?.['animal']?.['name']}}</td>
            <td>{{insemination?.['animal']?.['collar']?.['name']}}</td>
            <td>{{insemination?.['eventDateTime'] | date: 'MMM d, y, h:mm a'}}</td>
            <td>{{insemination?.['process']}}</td>
            <td>{{insemination?.['semen_breed']}}</td>
            <td>{{insemination?.['semen_type']}}</td>
            <td>{{insemination?.['inseminator']?.username }}</td>
          </tr>
        </tbody>
      </table>
  </div>

</ion-content>