<ion-header class="nav-header">

  <div class="header-bg">

    <ion-toolbar class="nav-toolbar" color="none">
      <ion-img class="brand-logo" style="border-right: 2px solid var(--ion-color-light-shade); " slot="start"
        [routerLink]="['/']" routerLinkActive="router-link-active" src="../../assets/icons/fd.png"></ion-img>
      <ion-img class="brand-logo" slot="start" *ngIf="!isLoading && typeOfUser !== 'SUPER_ADMIN'"
        src="../../../assets/icons/itc-logo.png"></ion-img>


      <ion-buttons slot="start">
        <ion-select *ngIf="typeOfUser === 'SUPER_ADMIN'" fill="solid" [disabled]="isLoading" interface="popover"
          label="{{'Admin' | translate}}" (ionChange)="onSelectAdmin($event)" selectedText="{{selectedAdmin}}"
          toggle-icon="chevron-down-outline">
          <ion-select-option [value]="admin" *ngFor="let admin of admins;">{{admin?.name}}</ion-select-option>
        </ion-select>
        <ion-select [disabled]="isLoading" fill="solid" interface="popover" label="{{ 'Farm' | translate }}"
          (ionChange)="onSelectFarm($event)" [selectedText]="selectedFarm" toggle-icon="chevron-down-outline">
          <ion-select-option value="All Farms">All Farms</ion-select-option>
          <ion-select-option [value]="farm" *ngFor="let farm of farms;">{{ farm?.name }}</ion-select-option>
        </ion-select>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button size="small" [routerLink]="['/', 'farm', 'dashboard']" routerLinkActive="router-link-active"
          expand="block" size="small">
          <ion-label class="button-label">{{'Home' | translate}}</ion-label>
          <ion-icon name="home" color="medium"></ion-icon>
        </ion-button>
        <ion-button id="search-animal" expand="block" fill="clear" size="small">
          <ion-label class="button-label">{{'Search Animals' | translate}}</ion-label>
          <ion-icon name="search" color="medium"></ion-icon>
        </ion-button>
        <ion-button size="small" expand="block" size="small" fill="clear" id="language" (click)="onClickLanguage()">
          <ion-label class="button-label">{{language | translate}}</ion-label>
          <ion-icon name="language" color="medium"></ion-icon>
        </ion-button>
        <ion-button id="all" expand="block" fill="clear" size="small">
          <ion-label class="button-label">{{'All' | translate}}</ion-label>
          <ion-icon size="small" name="chevron-down-circle" color="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide>
      <img src=" https://swiperjs.com/demos/images/nature-1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </swiper-slide>
  </swiper-container> -->

  </div>

</ion-header>

<ion-modal class="medium-width-modal" #searchModal trigger="search-animal" [initialBreakpoint]="1"
  [breakpoints]="[0, 1]" handleBehavior="cycle">
  <ng-template>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button slot="icons-only" (click)="closeSearchModal()">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Search Animal by ID</ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-item lines="none">
          <ion-searchbar #searchbar searchIcon="search-circle" clearIcon="backspace"
            cancel-button-icon="arrow-back-circle" showCancelButton="focus"
            placeholder="{{'Search by Animal No.' | translate}}" [debounce]="1000" (ionInput)="handleInput($event)"
            (ionBlur)="onBlurSearchBar()"></ion-searchbar>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-list *ngIf="!isLoading && results.length > 0" [inset]="true">
        <ion-item [button]="true" detail="false" *ngFor="let animal of results"
          (click)="onClickAnimal(animal.collar.name)">
          <div *ngIf="animal.collar" class="unread-indicator-wrapper" slot="start">
            <div class="active-indicator"></div>
          </div>
          <ion-label>
            <strong>{{"Animal Name: "+animal.name}} </strong>
            <br />
            <strong>{{"Collar No.: "+animal.collar.name}} </strong>
            <br />
            <ion-note color="medium" class="ion-text-wrap">
              {{"Farm Name: "+animal.farm.name}}
            </ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-icon class="mx-2" color="primary" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-modal>

<ion-popover #allPopover trigger="all" [dismissOnSelect]="true">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item lines="none" button disabled="true">
          <ion-label>
            {{'My Account' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button detail disabled="true">
          <ion-label>
            {{'Manage Animals' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button detail disabled="true">
          <ion-label>
            {{'Manage Users' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button detail disabled="true">
          <ion-label>
            {{'Manage Payment' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button detail disabled="true">
          <ion-label>
            {{'Subscriptions' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button detail disabled="true">
          <ion-label>
            {{'Notifications' | translate}}
          </ion-label>
        </ion-item>

        <ion-item lines="none" button (click)="onClickLogout()">
          <ion-label>
            {{'Logout' | translate}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>