.nav-header {
  // background: transparent !important;
  // clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0% 20%);
}

.header-bg{
  background-color: #e8e8e8;
  // clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0% 20%);
}

.nav-toolbar {
  background: #eee !important;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
  --box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}

.brand-logo {
  cursor: pointer !important;
  border-radius: 4px;
  height: 70px;
  aspect-ratio: 16/9;
  pointer-events: none;
}

.brand-logo:hover {
  opacity: 80%;
  cursor: pointer !important;
  transform: scale(1.07);
  transition: 2s ease-in-out;
}

ion-list {
  ion-item {
    margin: 0.5rem 0 !important;
    --border-width: 0 !important;
    border-radius: 2px;
  }

  .active-indicator {
    background: var(--ion-color-success);

    width: 10px;
    height: 10px;

    border-radius: 100%;

    position: absolute;

    inset-inline-start: 12px;
    top: 12px;
  }

  .metadata-end-wrapper {
    position: absolute;

    top: 10px;
    inset-inline-end: 10px;

    font-size: 0.8rem;

    display: flex;
    align-items: center;
  }

  ion-label strong {
    display: block;

    max-width: calc(100% - 60px);

    overflow: hidden;

    text-overflow: ellipsis;
  }

  ion-label ion-note {
    font-size: 0.9rem;
  }

}

ion-button {
  ion-label {
    font-size: small;
    font-weight: bold;
    color: var(--ion-color-medium) !important;
  }

  ion-icon {
    margin-left: 8px;
  }
}

ion-button:hover {
  opacity: 80%;
  transform: scale(1.02);
  transition: 1s ease;
  background-color: #ffffff20;
  border-radius: 4px;
}

ion-button:active {
  transform: scale(0.98);
  transition: 1s ease;
}

ion-label,
ion-select {
  text-transform: capitalize !important;
  font-size: small !important;
  font-weight: bold !important;
}

ion-select{
  width: 200px !important;
  margin: 0 1rem !important;
  // --border-radius: 10px !important;
  // border-radius: 10px !important;

  // padding: 0 !important;
  // --padding: 0 !important;

  // margin: 0 !important;
  // --margin: 0 !important;

  // --padding-bottom	: 0 !important;
  // --padding-end: 0 !important;
  // --padding-start : 0 !important;

  ion-select-option{
  width: 100% !important;

  }

}

ion-icon {
  height: 18px !important;
  width: 18px !important;
  color: var(--ion-color-medium) !important;
}

swiper-container {
  --swiper-pagination-bottom: 0%;
  --swiper-pagination-color: white;
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);

  background-repeat: repeat;
  background-size: contain;
  width: 80%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-top: 1rem;
}

swiper-slide {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem !important;

  div {
      width: 100% !important;

      img {
          border-radius: 3px;
          width: 100% !important;
      }

      ion-note{
          color: white !important;
      }
  }

}

.overallcounts-section{
  ion-row{
    ion-col{
      ion-label{
        p{
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h2{

        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .button-label {
    display: none;
  }
}

@media (min-width: 1000px) {
  .button-label {
    display: inline;
  }
}