.nav-header{
  background-color: #252525;
	background: #252525;
	--background: #252525;
}

.nav-toolbar{
  background-color: #252525;
	background: #252525;
	--background: #252525;
}

.brand-logo {
  cursor: pointer !important;
  margin: 0 10px;
  border-radius: 4px;
  width: 50px !important; 
  aspect-ratio: 1/1;
  pointer-events: none;
  opacity: 80%;
  background: #fff;
  border: 2px solid #ddd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

.brand-logo:hover {
  cursor: pointer !important;
  opacity: 100%;
  transform: scale(1.07);
  transition: 2s ease-in-out;
}


ion-list {

  ion-item {
    margin: 0.5rem 0 !important;
    --border-width: 0 !important;
    border-radius: 2px;
  }

  .active-indicator {
    background: var(--ion-color-success);

    width: 10px;
    height: 10px;

    border-radius: 100%;

    position: absolute;

    inset-inline-start: 12px;
    top: 12px;
  }

  .metadata-end-wrapper {
    position: absolute;

    top: 10px;
    inset-inline-end: 10px;

    font-size: 0.8rem;

    display: flex;
    align-items: center;
  }

  ion-label strong {
    display: block;

    max-width: calc(100% - 60px);

    overflow: hidden;

    text-overflow: ellipsis;
  }

  ion-label ion-note {
    font-size: 0.9rem;
  }

}

ion-button {
  ion-label {
    font-size: small;
    font-weight: bold;
    color: white !important;
  }

  ion-icon {
    margin-left: 8px;
  }
}

ion-button:hover {
  opacity: 80%;
  transform: scale(1.02);
  transition: 1s ease;
  background-color: #ffffff20;
  border-radius: 4px;
}

ion-button:active {
  transform: scale(0.98);
  transition: 1s ease;
}

@media (max-width: 767px) {
  .button-label {
    display: none;
  }
}

@media (min-width: 768px) {
  .button-label {
    display: inline;
  }
}

ion-label, ion-select{
  text-transform: capitalize !important;
  font-size: small !important;
  font-weight: bold !important;
}

ion-icon{
  height: 18px !important;
  width: 18px !important;
  color: var(--ion-color-medium) !important;
}
