/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
}

body {
  // margin: 0;
  // font-family: var(--bs-body-font-family);
  // font-size: var(--bs-body-font-size);
  // font-weight: var(--bs-body-font-weight);
  // line-height: var(--bs-body-line-height);
  // color: var(--bs-body-color);
  // text-align: var(--bs-body-text-align);
  // background-color: var(--bs-body-bg);
  // -webkit-text-size-adjust: 100%;
  // -webkit-tap-highlight-color: rgba(16, 24, 32, 0);
}

canvas {
  width: 100% !important;
}

th.sort-asc::after {
  content: " \2191";
  font-weight: bolder !important;
  font-size: larger !important;
}

th.sort-desc::after {
  content: " \2193";
  font-weight: bolder !important;
  font-size: larger !important;
}

ion-select-popover {
  max-height: 300px !important;
}

ion-searchbar {
  padding: 0 1rem !important;
}

.searchbar-input.sc-ion-searchbar-md {
  padding: 0 !important;
  border: 2px solid #eee !important;
  border-radius: 4px;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: small;
  font-weight: bold;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  top: 5px;
}

ion-popover {
  --offset-y: 20px !important;
}

ion-progress-bar::part(track) {
  background: #ddd;
}

ion-progress-bar::part(progress) {
  background: rgba(255, 69, 0, 0.3);
}

.full-width-modal {
  --max-width: 100% !important;
  --min-width: 100% !important;
  --width: 100% !important;
}

.medium-width-modal {
  --max-width: 50% !important;
  --min-width: 50% !important;
  --width: 100% !important;
}
