<ion-header mode="md" [translucent]="true">
  <ion-toolbar class="back-btn-toolbar" color="none">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle" defaultHref="/landing/navs/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content-1">
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">

        <div class="custom-div-1">

          <div class="custom-header-1">
            <label>Create New Farm</label>
          </div>

          <form class="custom-form-1" [formGroup]="animalForm" (ngSubmit)="onRegisterAnimal()">

            <fieldset>

              <legend> <label> General Info. </label> </legend>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Source of Entry</ion-label>
                <ion-select mode="md" interface="popover" formControlName="source_of_entry"
                  placeholder="Select Source of Entry" cancel-text="CANCEL" (ionChange)="onSelectSource($event)">
                  <ion-select-option value="source-1">source-1</ion-select-option>
                  <ion-select-option value="source-2">source-2</ion-select-option>
                  <ion-select-option value="source-3">source-3</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Date of Entry</ion-label>
                <ion-input [value]="dateOfEntry" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-1">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-1" show-backdrop="true" backdrop-dismiss="true">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectDateOfEntry($event)">
                      <span slot="title">Select a Date of Entry</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Cattle Name</ion-label>
                <ion-input type="text" formControlName="name" placeholder="Enter Cattle Name"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Tag No.</ion-label>
                <ion-input type="tel" inputmode="numeric" formControlName="tag_no" placeholder="Enter Tag No."
                  required minlength="8" maxlength="8" oninput="this.value = this.value.replace(/[^0-9+()]/g, '');"
                  pattern=".{10,10}">
                </ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Cattle Breed</ion-label>
                <ion-select mode="md" interface="popover" formControlName="breed" placeholder="Select Cattle Breed"
                  cancel-text="CANCEL" (ionChange)="onSelectBreed($event)">
                  <ion-select-option [value]="option" *ngFor="let option of breed">{{option}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Gender</ion-label>
                <ion-select mode="md" interface="popover" formControlName="gender" placeholder="Select Cattle Gender"
                  cancel-text="CANCEL" (ionChange)="onSelectGender($event)">
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Date of Birth</ion-label>
                <ion-input [value]="dateOfBirth" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-2">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-2" show-backdrop="false">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectDateOfBirth($event)">
                      <span slot="title">Select Cattle's Date of Birth</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Location</ion-label>
                <ion-select mode="md" interface="popover" formControlName="location" placeholder="Select Location"
                  cancel-text="CANCEL" (ionChange)="onSelectLocation($event)">
                  <ion-select-option value="location-1">location-1</ion-select-option>
                  <ion-select-option value="location-2">location-2</ion-select-option>
                  <ion-select-option value="location-3">location-3</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Cattle's Skin Color</ion-label>
                <ion-input type="text" formControlName="skin_color" placeholder="Select Skin Color"></ion-input>
              </ion-item>

            </fieldset>

            <fieldset>

              <legend> <label> Family Info. </label> </legend>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Mother's Type </ion-label>
                <ion-select mode="md" interface="popover" formControlName="mother_type"
                  placeholder="Select Mother Type" cancel-text="CANCEL" (ionChange)="onSelectMotherType($event)">
                  <ion-select-option [value]="option" *ngFor="let option of mother">{{option}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Father's Type</ion-label>
                <ion-select mode="md" interface="popover" formControlName="father_type"
                  placeholder="Select Father Type" cancel-text="CANCEL" (ionChange)="onSelectFatherType($event)">
                  <ion-select-option value="Father-Breed-1">Father-Breed-1</ion-select-option>
                  <ion-select-option value="Father-Breed-2">Father-Breed-2</ion-select-option>
                  <ion-select-option value="Father-Breed-3">Father-Breed-3</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Infant's Type</ion-label>
                <ion-select mode="md" interface="popover" formControlName="born_type"
                  placeholder="Select Insemination Type" cancel-text="CANCEL" (ionChange)="onSelectBornType($event)">
                  <ion-select-option value="Natural Insemination">Natural Insemination</ion-select-option>
                  <ion-select-option value="Artificial Insemination">Artificial Insemination</ion-select-option>
                </ion-select>
              </ion-item>

            </fieldset>

            <fieldset>

              <legend> <label> Health Info. </label> </legend>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Average Milk</ion-label>
                <ion-input type="tel" inputmode="numeric" formControlName="average_milk"
                  placeholder="Enter Average Milk"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">No. of Vaccination</ion-label>
                <ion-input type="tel" inputmode="numeric" formControlName="no_of_vaccination"
                  placeholder="Enter No. of Vaccination"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Last Vaccination Date</ion-label>
                <ion-input [value]="lastVaccinationDate" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-3">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-3" show-backdrop="false">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectLastVaccinationDate($event)">
                      <span slot="title">Select the Last Vaccination Date</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">No. of Delivery</ion-label>
                <ion-input type="tel" inputmode="numeric" formControlName="no_of_delivery"
                  placeholder="Enter No. of Deliveries"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Last Delivery Date</ion-label>
                <ion-input [value]="lastDeliveryDate" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-4">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-4" show-backdrop="false">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectLastDeliveryDate($event)">
                      <span slot="title">Select the Last Delivery Date</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">No. of Inseminations</ion-label>
                <ion-input type="tel" inputmode="numeric" formControlName="no_of_insemination"
                  placeholder="Enter No. of Insemination"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Last Insemination Date</ion-label>
                <ion-input [value]="lastInseminationDate" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-5">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-5" show-backdrop="false">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectLastInseminationDate($event)">
                      <span slot="title">Select the Last Insemination Date</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

            </fieldset>

            <fieldset>
              <legend> <label> Exit info. </label> </legend>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Reason of Exit</ion-label>
                <ion-input type="text" formControlName="reason_of_exit" placeholder="(Death / Lost / Sold)"></ion-input>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Date of Exit</ion-label>
                <ion-input [value]="dateOfExit" placeholder="Select Date"></ion-input>
                <ion-button slot="end" fill="clear" id="open-date-input-6">
                  <ion-icon icon="calendar-sharp" color="warning"></ion-icon>
                </ion-button>
                <ion-modal trigger="open-date-input-6" show-backdrop="false">
                  <ng-template>
                    <ion-datetime size="cover" showDefaultButtons="true" presentation="date"
                      (ionChange)="onSelectDateOfExit($event)">
                      <span slot="title">Select the Date of Exit</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

            </fieldset>

            <fieldset>
              <legend> <label>Farm's Description</label></legend>

              <ion-item lines="none" color="none">
                <ion-label position="stacked">Notes</ion-label>
                <textarea color="none" type="text" formControlName="note" placeholder="Share your Thoughts">
              </textarea>
              </ion-item>

            </fieldset>

          </form>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="custom-footer-1">
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div class="custom-div-1">
          <button class="submit-btn" type="submit" (click)="onRegisterAnimal()">
            <label> Create Farm </label>
            <ion-icon name="create"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>