<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button icon="arrow-undo-circle-sharp" defaultHref="/farm/dashboard" text=""></ion-back-button>
      <ion-chip style="border-radius: 4px;">
        <ion-label>
          {{'Installations' | translate}}
        </ion-label>
        <ion-badge color="dark" style="margin-left: 8px;">
          <ion-label>
            {{results.length}}
          </ion-label>
        </ion-badge>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" [scrollEvents]="true">

  <div *ngIf="isLoading" class="progress-bar">
    <div>
      <ion-progress-bar [value]="progress"></ion-progress-bar>
      <ion-chip color="light">
        <ion-label [value]="progress">
          Loading {{progress}}% ...
        </ion-label>
      </ion-chip>
    </div>
  </div>

  <div *ngIf="!isLoading" class="table-container">
    <table id="myTable" class="table">
      <caption *ngIf="results.length > 0">List of Installations</caption>
      <caption *ngIf="results.length == 0">
        {{'No Installation Available'| translate}}</caption>

      <thead>
        <tr>
          <th colspan="12" style="background: white !important;">
              <div style="width: 100%; display: grid; grid-template-columns: 300px auto; gap: 1rem; align-items: center; justify-content: flex-start;">
                <div>
                  <ion-toolbar>
                    <ion-searchbar class="ion-margin" searchIcon="search-circle" clearIcon="backspace"
                      cancel-button-icon="arrow-back-circle" showCancelButton="focus"
                      placeholder="{{'Search Animals' | translate}}" [debounce]="1000" (ionInput)="handleInput($event)">
                    </ion-searchbar>
                  </ion-toolbar>
                </div>
                <div>
                  <div class="filter-section">
                    <span>
                      <ion-icon size="large" name="calendar"></ion-icon>
                      <ion-label>From</ion-label>
                      <ion-datetime-button datetime="datetime-1"></ion-datetime-button>
                    </span>
                    <span>
                      <ion-icon size="large" name="calendar"></ion-icon>
                      <ion-label>Till</ion-label>
                      <ion-datetime-button datetime="datetime-2"></ion-datetime-button>
                    </span>
                  </div>
      
                  <ion-popover [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="datetime-1" presentation="date" [(ngModel)]="fromDate" [showDefaultButtons]="true"
                        displayFormat="YYYY-MM-DD" [max]="maxDate" (ionChange)="filterEvents()"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                  <ion-popover [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="datetime-2" presentation="date" [(ngModel)]="toDate" [showDefaultButtons]="true"
                        displayFormat="YYYY-MM-DD" [min]="fromDate" [max]="maxDate"
                        (ionChange)="filterEvents()"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
              </div>
          </th>
        </tr>

        <tr>
          <th rowspan="2" scope="col" (click)="sortTable(0)"
            [ngClass]="{'sort-asc': sortOrders[0] === 'asc', 'sort-desc': sortOrders[0] === 'desc'}">{{'Animal Name'|
            translate}}</th>
          <th rowspan="2" scope="col" (click)="sortTable(2)"
            [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">{{'Collar No.'|
            translate}}</th>
          <th rowspan="2" scope="col" (click)="sortTable(2)"
            [ngClass]="{'sort-asc': sortOrders[2] === 'asc', 'sort-desc': sortOrders[2] === 'desc'}">{{'Farm Name'|
            translate}}</th>
          <th rowspan="2" scope="col" (click)="sortTable(1)"
            [ngClass]="{'sort-asc': sortOrders[1] === 'asc', 'sort-desc': sortOrders[1] === 'desc'}">{{'Assigned / Not
            Assigned'| translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="results.length > 0">
        <tr *ngFor="let installation of results | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{installation.animal ? installation.animal.name : 'Collar Not in Use'}}</td>
          <td>{{installation.collarId}}</td>
          <td>{{installation.animal ? installation.animal.farm.name+' Farm' : 'Farm Not Found'}}</td>
          <td>{{installation.animal ? 'Collar Assigned:'+installation.name : 'Not Assigned' }}</td>
        </tr>
      </tbody>

      <tfoot>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </tfoot>
      
    </table>
  </div>

</ion-content>